/*EXTEND*/
.btnFooter {
    background-color: $secondaryColor;
    color: azure;
    font-weight: $textRegular;

    &:hover {
        color: $secondaryColor
    }
}

.btnRegistro {
    @extend .btnFooter;
    margin: 5px;

    &:hover {
        color: $black;
    }

}

/*MIXINS*/
@mixin sombras {
    box-shadow: 0px 10px 15px rgb(0, 0, 0, 0.5);
    color: $secondaryColor;
}