//VARIABLES***

//COLORS// (colores)
$mainColor: rgb(155, 155, 155);
$secondaryColor: blue;
$keyColor: lightblue;
$white: rgb(238, 238, 238);
$black: rgb(26, 26, 26);

//FONTS//(tipos de letras)
$mainFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$secondaryFont: sans-serif;

//SIZES TEXTOS//(tamaño letra)
$textSm: 10px;
$textMd: 20px;
$textXl: 25px;
$textXxl: 30px;

//TEXT WEIGHT//(negrita)
$textLight: 300;
$textRegular: 500;
$textBold: 700;